**/__pycache__/
settings.json
images/
# scripts/
# references/
# requirements/
# lexicon/
# lexicon.sqlite

# Duplicate XML files identified and removed
db/lexica/ara/lan/u_0.xml
db/lexica/ara/lan/uq2.xml